body{
  width: 600px;
  margin: auto;
}

.secret {
  background-color: #e74c3c;
  color: #ecf0f1;
  width: 90%;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 2em;
  font-family: fantasy;
}

.important {
  
}
